<h1><%= @artist.name %></h1>

<h2>Songs: </h2>
<ul>
  <% @artist.songs.each do |song| %>
  <li></li>
  <%= link_to song.title, song_path(song) %>
<% end %>
</ul>

<h2><%= pluralize(@artist.song_count, 'song', 'songs') %></h2>

<%= form_tag artist_path(@artist.id), method: "delete" do %>
<%= submit_tag "Delete #{@artist.name}" %>
<% end %>
